[submodule "etl"]
	path = submodules/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "src/TeleGeo/lwgps"]
	path = submodules/lwgps
	url = git@github.com:MaJerle/lwgps.git

[submodule "stmepic_base"]
	path = submodules/stmepic_base
	url = git@github.com:X-Lemon-X/stmepic_base.git